{% extends 'base.html' %}
{% block content %}

<h1 class="mt-4 mb-4">About</h1>

<p class="lead">
    This job application portal is designed to streamline the process of submitting applicant information using a
    Django-based backend and a responsive Bootstrap frontend.
</p>

<p>
    The platform supports secure data handling, custom admin configuration, and form validation to ensure efficient and
    structured data collection.
</p>

<p>
    Features include a dynamic application form, server-side validation, and an integrated admin interface for reviewing
    submissions.
</p>


<hr class="my-5">

<p class="text-muted">
    Developed by <strong>Tobi Emmanuel</strong> · <a href="https://oluwatobiemmanuel.com" target="_blank">Portfolio</a>
</p>

{% endblock %}
