# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Django DB and media
db.sqlite3

# Django static + media (if added later)
staticfiles/
media/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environments
.env
